<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Car rental | Book a <%=car.carName%></title>
</head>
<body>
    <nav>
        <a href="/cars">Home</a>
    </nav>
    <h3>Edit your selection</h3>

    <div class="text">
        <form action="/cars/editorder/<%=car._id;%>?_method=PUT" method="POST">
            <label>From</label>
            <input type="date" name ="dateFrom" value="<%=car.dateFrom == null ? '' : car.dateFrom.toISOString().split('T')[0] %>"><br/>
            <label>To</label>
            <input type="date" name ="dateTo" value="<%=car.dateTo == null ? '' : car.dateTo.toISOString().split('T')[0] %>"><br/>
            Location<input list="listItem" type="text" name ="location" placeholder="Select one" value="<%=car.location%>"/><br/>
            <datalist id="listItem">
                <option value="Alexandria">
                <option value="Ashburn">
                <option value="Fairfax">
                <option value="Manassas">
                <option value="Chantily">
                <option value="Falls Church">
                <option value="Winchester">
            </datalist>
            <input type="submit" value="CONFIRM"/>
        </form> 
    </div>

</body>
</html>