<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('./partials/head.ejs') %>
		<title>GoDrive | car sharing marketplace</title>
	</head>
	<body>
	
    <nav class="navbar navbar-expand-lg mb-2 navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="/cars">GoDrive</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
          <li class="nav-item">
						<a class="nav-link text-primary link-warning" href="/cars/index">HOME</a></li>
					<li class="nav-item">
						<a class="nav-link text-primary link-warning" href="/cars/new">BECOME A HOST</a></li>
					<li class="nav-item">
						<a class="nav-link text-primary link-warning" href="/cars/host/">YOUR LISTING</a></li>  
				</ul>

        <ul class="acc-link mb-0">
          <li class="nav-item dropdown">
          <a class="btn btn-success circle dropdown-toggle" data-bs-toggle="dropdown">YOU</a>             
          <div class="dropdown-menu bg-dark">
              <a href="#" class="nav-link dropdown-item text-light link-warning">Account</a>
              <a href="#" class=" nav-link dropdown-item text-light link-warning">Get Approved</a>
              <a href="/users/signout" class="dropdown-item nav-link text-light link-warning" >SIGN OUT</a>
          </div>
      </li></ul> 
			</div>
  </nav>  

<!-- //header -->
		<header id="final-page-header">
			<div class="container">
			  <div class="row">
				<div class="col-md-10 m-auto">
          <div class="card">
            <div class="card-body text-dark">
              <h4 class="text-primary">Reservation is confirmed. You will receive email from GoDrive
                with confirmation number.</h4>
                
             
              
                <% 
                let c = car.dateFrom
                let t = car.dateTo
  let startDate = new Date(c);
  let endDate = new Date(t);
  let timeDiff = Math.abs(endDate.getTime() - startDate.getTime());
  let totalDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
  const year = c.getFullYear();
    const month = c.getMonth() + 1; // Add 1 because months are zero-indexed
    const day = c.getDate(); 
    const month_t = t.getMonth() + 1; // Add 1 because months are zero-indexed
    const day_t = t.getDate(); 
%>
<p>You reserved <%=car.carName%> from <%=month%>/<%=day%>/<%=year%> to <%=month_t%>/<%=day_t%>/<%=year%> for <%= totalDays %> days.</p>

               <p>You paid $<%= totalDays * car.pricePerDay%></p>
              <p class="text-center"><strong>Thank you for choosing GoDrive!!</strong></p>
            </div>
          </div>
				</div>
			  </div>
			</div>
		</header>

<!-- footer -->
    <%- include ('./partials/footer.ejs') %>
</body>
</html>