<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('./partials/head.ejs') %>
    <title>Car rental | Book a <%=car.carName%>
    </title>
</head>

<body>
  <nav class="navbar navbar-expand-lg mb-2 navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/cars/index">GoDrive</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-primary link-warning" href="/cars/index">HOME</a></li>
        <li class="nav-item">
          <a class="nav-link text-primary link-warning" href="/cars/new">BECOME A HOST</a></li>
        <li class="nav-item">
          <a class="nav-link text-primary link-warning" href="/cars/host/">YOUR LISTING</a></li>  
      </ul>

      <ul class="acc-link mb-0">
        <li class="nav-item dropdown">
        <a class="btn btn-success circle dropdown-toggle" data-bs-toggle="dropdown">YOU</a>             
        <div class="dropdown-menu bg-dark">
            <a href="#" class="nav-link dropdown-item text-light link-warning">Account</a>
            <a href="#" class=" nav-link dropdown-item text-light link-warning">Get Approved</a>
            <a href="/users/signout" class="dropdown-item nav-link text-light link-warning" >SIGN OUT</a>
        </div>
    </li></ul> 
    </div>
</nav>  



  <!-- PAGE HEADER -->
  <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="text-center">

        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="container mt-5">
      <div class="card">
        <div class="card-body text-secondary">
          <h1 class="mb-2">You selected <%=car.title%>
          </h1>

<!-- calculation total days bettwen two dates -->

          <% let c=car.dateFrom 
          let t=car.dateTo 
          let startDate=new Date(c); 
          let endDate=new Date(t); 
          let timeDiff=Math.abs(endDate.getTime() - startDate.getTime()); 
          let totalDays=Math.ceil(timeDiff / (1000 * 3600 * 24));
          const year = c.getFullYear();
    const month = c.getMonth() + 1; // Add 1 because months are zero-indexed
    const day = c.getDate(); 
    const month_t = t.getMonth() + 1; // Add 1 because months are zero-indexed
    const day_t = t.getDate();%>

<!-- total days and dates to pick up and return-->
<p>You have selected Pick up date <strong><%=month%>/<%=day%>/<%=year%></strong> for <strong><%=car.title%></strong> and Return date is <strong><%=month_t%>/<%=day_t%>/<%=year%></strong></p>


<!-- calculation of total price -->

            <p>Total Price for <%= totalDays %> days is $<%= totalDays * car.pricePerDay%></p>
            <p>Location of pick up and return is <%=car.location%>
            </p>
            <div class="d-flex justify-content-evenly mt-5">
              <form action="/cars/delete/<%=car._id;%>?_method=PUT" method="POST">
                <input class="btn btn-dark border border-danger" type="submit" value="DELETE SELECTION">
              </form>

              <form action="/cars/editorder/<%=car._id;%>">
                <input class="btn btn-dark border border-danger" type="submit" value="Edit SELECTION">
              </form>

              <form action="/cars/confirm/<%=car._id;%>">
                <input class="btn btn-dark border border-danger" type="submit" value="PAY $<%= totalDays * car.pricePerDay%>">
              </form>
            </div>
        </div>

      </div>

    </div>
  </section>
    
   <!-- FOOTER -->
   <%- include ('./partials/footer.ejs') %>

</body>
</html>