<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Car rental | Book a <%=car.carName%></title>
</head>
<body>
    <nav class="navbar navbar-expand-lg mb-2 navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="/cars/index">GoDrive</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
          <li class="nav-item">
						<a class="nav-link text-light link-warning" href="/cars/index">HOME</a></li>
					<li class="nav-item">
						<a class="nav-link text-light link-warning" href="/cars/new">BECOME A HOST</a></li>
					<li class="nav-item">
						<a class="nav-link text-light link-warning" href="/cars/host/">YOUR LISTING</a></li>  
				</ul>

        <ul class="acc-link mb-0">
          <li class="nav-item dropdown">
          <a class="btn btn-success circle dropdown-toggle" data-bs-toggle="dropdown">YOU</a>             
          <div class="dropdown-menu bg-dark">
              <a href="#" class="nav-link dropdown-item text-light link-warning">Account</a>
              <a href="#" class=" nav-link dropdown-item text-light link-warning">Get Approved</a>
              <a href="/users/signout" class="dropdown-item nav-link text-light link-warning" >SIGN OUT</a>
          </div>
      </li></ul> 
			</div>
  </nav>  
 


<!-- PAGE HEADER -->
<header id="show-page-header">
    <div class="container">
      <div class="row">
        <div class="text-center">
            <h1 class="text-center m-4">Drive a <%=car.carName%></h1>
            <p>
            
              <% if(car.tag===true){ %>

                <img src="/uploads/<%=car.img; %>" alt="" class="img-fluid">

                <% } else { %>

                <img src="<%=car.img; %>" alt=""
                  class="img-fluid">

                  <% } %>
                  </p>
        </div>
      </div>
    </div>
  </header>


  <section id="" class="py-3 text-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="card p-4">
            <div class="card-body">
              <h4><%=car.title%></h4>
              <div class="owner d-flex justify-content-between">
                <p><strong>Hosted By:</strong> <%=car.ownerName%> </p>
                <p><strong>Rating:</strong> <%=car.rating%> <i class="bi bi-star-fill"></i></p>
            </div>
            <div class="des">
            <p><strong>Description:</strong> <%=car.description%> </p>
            <p><strong>Availability:</strong> <% if(car.isAvailable === true){ %>
                It is ready to pickup.
            <% } else { %>
                It is not ready to picup.
            <% } %></p>
           
            <p><strong>Features:</strong>
            <ul>
                <% for (let i = 0; i < car.features.length; i++) { %>
                    <li>
                    <%=car.features[i];%>	
                    </li>
                    <% } %>
            </ul> </p>
            <p><strong>Guidlines:</strong> <%=car.guidelines; %></p>
            <p>
              <strong>Review:</strong> 
              <ul>
                <% for (let i = 0; i < car.comments.length; i++) { %>
                    <li>
                    <%=car.comments[i];%>	
                    </li>
                    <% } %>
            </ul> 

              </p>
              </div> 
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card p-4">
            <div class="card-body">
              <h3 class="text-left"><strong>$<%=car.pricePerDay%>/Day</strong></h3>
              <h5 class="text-center">Enter Date and pick up location</h5>
              <hr>
              
              <form action="/cars/cart/<%=car._id; %>?_method=PUT" method="POST">
              <div class="row">

                <div class="col-md-12 mt-2">
                  <div class="form-group">
                    <label>From</label>
                    <input type="date" name ="dateFrom" value="<%=car.dateFrom; %>" class="form-control" placeholder="From:">
                  </div>
                </div>

                <div class="col-md-12 mt-2">
                  <div class="form-group">
                    <label>To</label>
                    <input type="date" name ="dateTo" value="<%=car.dateTo; %>" class="form-control" placeholder="To">
                  </div>
                </div>
                
                <div class="col-md-12 mt-2">
                  <div class="form-group">
                    <label>Pick up & return location</label>
                    <input list="listItem" type="text" name ="location" placeholder="Select one" value="<%=car.location%>" class="form-control">
                    <datalist id="listItem">
                        <option value="Alexandria">
                        <option value="Ashburn">
                        <option value="Fairfax">
                        <option value="Manassas">
                        <option value="Chantily">
                        <option value="Falls Church">
                        <option value="Winchester">
                        <option value="Fredericksburg">
                        <option value="Springfield">
                        <option value="Vienna">
                        <option value="Arlington">
                        <option value="McLean">
                        <option value="Woodbridge">
                        <option value="Sterling">
                        <option value="Lorton">
                    </datalist>
                  </div>
                </div>

                <div class="col-md-12 mt-2">
                  <div class="form-group text-center">
                    <input type="submit" value="Continue" class="btn btn-outline-danger btn-block">
                  </div>
                </div>
              </div>
            </form>

            </div>
          </div>

<!-- post comments -->
        <div class="card p-4 mt-3">
            <div class="card-body">

                <h5 class="text-center">Review your experience</h5>
                <hr>

                <form action="/cars/review/<%=car._id;%>?_method=PUT" method="POST" class="text-dark">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                          <textarea type="text" name="comments" class="form-control" placeholder="Text"></textarea>
                      </div>
                    </div>
      
                      <div class="col-md-12 mt-2">
                          <div class="form-group text-center">
                              <input type="submit" value="Post Review" class="btn btn-outline-danger btn-block">
                          </div>
                      </div>
                  </div>
                </form>
<!-- no delete for the listing car -->
                <!-- <form action="/cars/<%=car._id;%>?_method=DELETE" method="POST">
                  <input type="submit" value="DELETE YOUR LIST" class="btn btn-outline-danger btn-block">
                </form> -->
  
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>

   <!-- FOOTER -->
   <%- include ('./partials/footer.ejs') %>
</body>
</html>